 <main class="holder">
        <!--  Foto Principal -->

        <div class="fotoprincipal">

            <div class="gradientefotoprincipal">
                <h1>Carlos Herrera</h1>
            </div>
        </div>

        <!-- Fin- Foto Principal -->



        <!-- - Sobre MI https://via.placeholder.com/250  -->
        <section id="sobremi">
            <div class="espacio"></div>
            <div class="sobre">

                <div class="fotopersonal"><img src="images/carlosherrera.png" alt="" width="150px">
                </div>

                <div class="textosobremi">
                    <h2>Sobre Mí</h2>
                    <p>Soy ilustrador y pintor digital conceptual. Genero contenido audiovisual en redes sociales. Mis
                        herramientas actuales: Photoshop, Illustrator, Premiere, After Effects, Blender, Lumion,
                        Twinmotion, Reason, Pro-Tools y más.</p><br>
                    <p>Tengo muchos años cursados en la FADU y algunos más trabajados en PYMES de distintos rubros
                        industriales de Buenos Aires; donde desarrolle experiencia como diseñador 2D, 3D, coordinación y
                        gestión de proyectos. </p><br>
                    <p>Actualmente me estoy capacitando en: software tester QA, diseño WEB, UX UI y .NET.</p><br>
                    Mis intereses son: la descentralización y la disrupción digital en el arte mediante IA y NFT, la
                    ecología, las mascotas, los viajes a la Patagonia y el Heavy Metal.</p>
                </div>
            </div>


        </section>
        <!-- -Fin- Sobre MI  -->


        <!-- - Proyectos >- -->
        <section id="proyectos">
            <div class="espacio"></div>
            <div class="proy">
                <h2>Proyectos</h2>
                <h2>Ilustración Digital</h2>
            </div>

            <!-- ilustracion-->

            <div class="ilustracion">
                <div class="caja1">
                    <div class="gradientecaja"></div>
                    <h3>Trent Reznor</h3>
                    <p>Traditional Drawing + Digital Painting + IA</p>
                </div>
                <div class="caja2">
                    <div class="gradientecaja"></div>
                    <h3>Robert Johnson</h3>
                    <p>Digital Painting</p>
                </div>
                <div class="caja3">
                    <div class="gradientecaja"></div>
                    <h3>Manos</h3>
                    <p>Mate Painting + IA</p>
                </div>
                <div class="caja4">
                    <div class="gradientecaja"></div>
                    <h3>Inktober - La Rana y La Mosca</h3>
                    <p>Digital Painting</p>
                </div>
            </div>
        </section>

        <!-- Fin- Proyectos > -->


        <!-- - Publicaciones >- -->
        <section id="publicaciones">
            <div class="espacio"></div>
            <div class="public">
                <h2>Publicaciones</h2>
                <h2>Linkedin</h2>
            </div>

            <!-- Linkedin--->

            <div class="posts">
                <div class="caja21">
                    <video src="images/publicaciones/exar201021.mp4" controls
                        poster="images/publicaciones/miniaturaplantadecal.jpg" class="anchovideo"></video>
                    <!-- <div class="gradientecaja"></div> -->
                    <h3>Lorem</h3>
                    <p>Lorem</p>
                </div>
                <div class="caja22">
                    <div class="gradientecaja"></div>
                    <h3>Lorem</h3>
                    <p>Lorem</p>
                </div>
                <div class="caja23">
                    <video src="images/publicaciones/eltrapialepc4.mp4" controls
                        poster="images/publicaciones/miniaturaeltrapial.jpg" class="anchovideo"></video>
                    <!-- <div class="gradientecaja"></div> -->
                    <h3>Lorem</h3>
                    <p>Lorem</p>
                </div>
                <div class="caja24">
                    <div class="gradientecaja"></div>
                    <h3>Lorem</h3>
                    <p>Lorem</p>
                </div>

            </div>


        </section>

        <!-- Fin- Publicaciones >- -->

        <!--    - Contacto >- -->

        <section id="contacto">
            <div class="espacio"></div>
            <div class="public">
                <h2>Contacto</h2>
                
            </div>
            
            <div class="formulario">
                
                <form action="">
                    <p>
                        <label for="">Nombre</label>
                        <input type="text">
                    </p>

                    <p>
                        <label for="">Email</label>
                        <input type="text">
                    </p>

                    <p>
                        <label for="">Mensaje</label>
                        <textarea name=""></textarea>
                    </p>

                    <p class="enviar">
                        <input type="submit" value="Enviar">
                    </p>

            </div>

            </form>




        </section>



        <div class="socialmedia">
            <div class="media">
                <a href="https://www.instagram.com/carlos____herrera___/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>

            <div class="media">
                <a href="https://twitter.com/cherreranews" target="_blank">
                    <i class="fab fa-twitter-square"></i>
                </a>
            </div>

            <div class="media">
                <a href="https://www.linkedin.com/in/carlos-herrera-35691b98/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>


        </div>















    </main>
