<main class="holder">
    <!--  Foto Principal -->

    <div class="fotoprincipal">

        <div class="gradientefotoprincipal">
            <h1>Carlos Herrera</h1>
        </div>
    </div>

    <!-- Fin- Foto Principal -->



    <!-- - Sobre MI https://via.placeholder.com/250  -->
    <section id="sobremi">
        <div class="espacio"></div>
        <div class="sobre">

            <div class="fotopersonal"><img src="images/carlosherrera.png" alt="" width="150px">
            </div>

            <div class="textosobremi">
                <h2>Sobre Mí</h2>
                <p>Soy ilustrador y pintor digital conceptual. Genero contenido audiovisual en redes sociales. Mis
                    herramientas actuales: Photoshop, Illustrator, Premiere, After Effects, Blender, Lumion,
                    Twinmotion, Reason, Pro-Tools y más.</p><br>
                <p>Tengo muchos años cursados en la FADU y algunos más trabajados en PYMES de distintos rubros
                    industriales de Buenos Aires; donde desarrolle experiencia como diseñador 2D, 3D, coordinación y
                    gestión de proyectos. </p><br>
                <p>Actualmente me estoy capacitando en: software tester QA, diseño WEB, UX UI y .NET.</p><br>
                Mis intereses son: la descentralización y la disrupción digital en el arte mediante IA y NFT, la
                ecología, las mascotas, los viajes a la Patagonia y el Heavy Metal.</p>
            </div>
        </div>


    </section>
    <!-- -Fin- Sobre MI  -->


   


   

   



   















</main>