<!-- - Proyectos >- -->
<main class="holder">
    <section id="proyectos">
        <div class="espacio"></div>
        <div class="proy">
            <h2>Proyectos</h2>
            <h3>Ilustración Digital</h3>
        </div>

        <!-- ilustracion-->

        <div class="ilustracion">
            <div class="caja1">
                <div class="card">
                    <div class="content">
                        <h2>Trent Reznor</h2>
                        <p>Traditional Drawing + Digital Painting + IA</p>
                    </div>
                </div>
            </div>

            <div class="caja2">
                <div class="gradientecaja"></div>
                <h3>Robert Johnson</h3>
                <p>Digital Painting</p>
            </div>
            <div class="caja3">
                <div class="gradientecaja"></div>
                <h3>Manos</h3>
                <p>Mate Painting + IA</p>
            </div>
            <div class="caja4">
                <div class="gradientecaja"></div>
                <h3>Inktober - La Rana y La Mosca</h3>
                <p>Digital Painting</p>
            </div>
        </div>
    </section>
</main>


<!-- Fin- Proyectos > -->