 <!-- - Publicaciones >- -->
    <main class="holder">
    <section id="publicaciones">
        <div class="espacio"></div>
        <div class="public">
            <h2>Publicaciones</h2>
            <h2>Linkedin</h2>
        </div>

        <!-- Linkedin--->

        <div class="posts">
            <div class="caja21">
                <video src="images/publicaciones/exar201021.mp4" controls
                    poster="images/publicaciones/miniaturaplantadecal.jpg" class="anchovideo"></video>
                <!-- <div class="gradientecaja"></div> -->
                <h3>Minera Exar</h3>
                <p>Puesta en Marcha Planta de Cal</p>
            </div>
            <div class="caja22">
                <div class="gradientecaja"></div>
                <h3>Gral. San Martín</h3>
                <p>17 de Agosto</p>
            </div>
            <div class="caja23">
                <video src="images/publicaciones/eltrapialepc4.mp4" controls
                    poster="images/publicaciones/miniaturaeltrapial.jpg" class="anchovideo"></video>
                <!-- <div class="gradientecaja"></div> -->
                <h3>Yacimiento El Trapial</h3>
                <p>EPC</p>
            </div>
            <div class="caja24">
                <div class="gradientecaja"></div>
                <h3>Día del Ingeniero</h3>
                <p>Primera Carrera de Ingeniería UBA</p>
            </div>

        </div>


    </section>
</main>
    <!-- Fin- Publicaciones >- -->