h1 {
    color: white;
    text-align: center;
    margin-top: 50px;
}

.container{
    color: white;
    background-color: #222222;
    border-radius: 7px;
    margin: 100px auto;
    box-shadow: 7px 7px 10px 0px rgb(8, 8, 8);
}

.container input{
    background-color: #333333;
    color: #888888;
    border: solid 1px #b9b9b9;
    margin-bottom: 50px;
}